.Header {
    background: #3b2c85;
    width: 100%;
    color: white;
}

.Header span {
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 7.5vh;
    padding-left: 10vw;
    font-weight: 500;
    letter-spacing: 1px;
}

.purple-button {
    background: #3b2c85;
}