.site-layout-content {
    min-height: 280px;
    padding: 20vh 15vw;
}
.site-layout-content h3 {
    margin-bottom: 3.22vh;
    font-style: bold;
    font-weight: 700;
}

.content {
    max-width: 40%;
    display: flex;
    flex-direction: row;
}

picture {
    width:  100px;
}